*
{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first
{
    background-image: url(img/10.jpg);
    background-size: cover;
    width: 50%;
    height: 100%;
    transition: 0.4s;
}

.second
{
    background-color: #8c1b35;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
}

.second .mainTitle
{
    width: 280px;
    height: 280px;
    padding: 10px;
    color: white;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s;
    /*border: solid 10px rgba(255, 255, 255, 0.319);
    border-radius: 0 50px 0 50px;*/
}

.second .mainTitle::before
{
    content: '';
    width: 280px;
    height: 260px;
    margin-bottom: -260px;
    border: solid 10px white;
    scale: 1.15;
    border-radius: 0 50px 0 50px;
    transition: 0.4s;
    }

.subTitOne p
{
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    transition: 0.4s;
    opacity: 0;
    text-align: center;
}

/*hover animation*/

.second:hover
{
    background-color: black;
    width: 70%;
}


.second:hover .mainTitle{
    color: #E7C95F;
    border-color: #E7C95F;
   
}

.second:hover .mainTitle::before
{
    border-color: #E7C95F;
    rotate: 90deg;
}

.second:hover .subTitOne p
{
    color: #E7C95F;
    opacity: 1;
}

.mainTitle .one, .mainTitle .two, .mainTitle .three, .mainTitle .four
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    font-size: 140px;
    font-weight: 600;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


/*Text Animation*/
.mainTitle .one
{
    opacity: 0;
    animation-name: fadeOne;
    animation-timing-function: linear;
}
.mainTitle .two
{
    opacity: 0;
    animation-name: fadeTwo;
    animation-timing-function: linear;
}
.mainTitle .four
{
    opacity: 0;
    animation-name: fadeFour;
    animation-timing-function: linear;
}
.mainTitle .three
{
    opacity: 0;
    animation-name: fadeThree;
    animation-timing-function: linear;
}

@keyframes fadeOne
{
    0%{
        opacity:0;
    }
    5%{
        opacity:0.25;
    }
    10%{
        opacity:0.5;
    }
    15%{
        opacity:0.75;
    }
    20%{
        opacity:1;
    }
    25%{
        opacity:1;
    }
    30%{
        opacity:1;
    }
    35%{
        opacity:1;
    }
    40%{
        opacity:1;
    }
    45%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    55%{
        opacity:1;
    }
    60%{
        opacity:1;
    }
    65%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    80%{
        opacity:1;
    }
    85%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes fadeTwo
{
    0%{
        opacity:0;
    }
    5%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    15%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    25%{
        opacity:0.25;
    }
    30%{
        opacity:0.5;
    }
    35%{
        opacity:0.75;
    }
    40%{
        opacity:1;
    }
    45%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    55%{
        opacity:1;
    }
    60%{
        opacity:1;
    }
    65%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    80%{
        opacity:1;
    }
    85%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes fadeFour
{
    0%{
        opacity:0;
    }
    5%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    15%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    30%{
        opacity:0;
    }
    35%{
        opacity:0;
    }
    40%{
        opacity:0;
    }
    45%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    55%{
        opacity:0.75;
    }
    60%{
        opacity:1;
    }
    65%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    80%{
        opacity:1;
    }
    85%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes fadeThree
{
    0%{
        opacity:0;
    }
    5%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    15%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    30%{
        opacity:0;
    }
    35%{
        opacity:0;
    }
    40%{
        opacity:0;
    }
    45%{
        opacity:0;
    }
    50%{
        opacity:0;
    }
    55%{
        opacity:0;
    }
    60%{
        opacity:0;
    }
    65%{
        opacity:0.25;
    }
    70%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    80%{
        opacity:1;
    }
    85%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.secondMain
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.first_secondMain
{
    width: 50%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    position: relative;;
    
}

.first_secondMain_content{
    background-color: rgb(22, 22, 22);
    border: solid 4px rgb(153, 153, 153);
    border-radius: 15px;
    width: 80%;
    height: 70%;
    text-align: justify;
    z-index: 2;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(139, 139, 139);
}

.first_secondMain_content {
    padding: 20px;
}

.secondMain_atr1
{
    width: 50%;
    height: 40%;
    left: 0%;
    position: absolute;
    
    background-color: rgb(153, 153, 153);
    z-index: 1;
    
}

.secondMain_atr2
{
    width: 40%;
    height: 50%;
    right: 0%;
    bottom: 0%;
    position: absolute;
    background-color: rgb(153, 153, 153);
    z-index: 1;
}




.second_secondMain
{
    width: 50%;
    height: 100%;
    background-color: #00000000;
    position: relative;
    transition: 0.4s;
    z-index: 1;
}

.secondMain img{
    width: 280px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.645);
    transition: 0.4s;
    z-index: 3;
}

.firstPict
{
    transform: translate(-40px,200px);
    z-index: 10;
}
.secondPict
{
    transform: translate(-80px,0px);
    z-index: 11;
}
.thirdPict
{
    transform: translate(120px,0px);
    z-index: 12;
}
.fourthPict
{
    transform: translate(40px,-200px);
    z-index: 13;
}

.second_secondMain:hover .firstPict{
    transform: translate(120px, 400px);
    width: 265px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.764);
}

.second_secondMain:hover .secondPict{
    transform: translate(-330px,200px);width: 265px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.764);
}

.second_secondMain:hover .thirdPict{
    transform: translate(330px, -210px);
    width: 265px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.764);
}

.second_secondMain:hover .fourthPict{
    transform: translate(-100px,-410px);
    width: 20px;
    width: 265px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.764);
}



.gallery
{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    transition: 0.4s;
    z-index: 1;
}

.galleryBack
{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #e7e8ed00;
    position: absolute;
    top: 0%;

}

.galleryBack1, .galleryBack2, .galleryBack3, .galleryBack4
{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 3;
    transition: 0.4s;
}
.galleryBack1
{
    top: 0%;
    left: 0%;
    background-image: url(/img/02.jpg);
    background-size: cover;
}

.galleryBack1::after
{
    content: '';
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 5;
    bottom: 0%;
    right: 0%;
    border-top-left-radius: 100px;
    position: absolute;
}

.galleryBack2
{
    top: 0%;
    left: 50%;
    background-image: url(/img/22.jpg);
    background-size: cover;
}

.galleryBack2::after
{
    content: '';
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 5;
    bottom: 0%;
    left: 0%;
    border-top-right-radius: 100px;
    position: absolute;
}

.galleryBack3
{
    top: 50%;
    left: 0%;
    background-image: url(/img/11.jpg);
    background-size: cover;
    
}

.galleryBack3::after
{
    content: '';
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 5;
    top: 0%;
    right: 0%;
    border-bottom-left-radius: 100px;
    position: absolute;
}

.galleryBack4
{
    top: 50%;
    left: 50%;
    background-image: url(/img/13.jpg);
    background-size: cover;
}

.galleryBack4::after
{
    content: '';
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 5;
    bottom: 86.8%;
    left: 0%;
    border-bottom-right-radius: 100px;
    position: absolute;
}

.second_secondMain:hover .galleryBack1::after
{
    top: 0%;
    right: 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 100px;
}

.second_secondMain:hover .galleryBack2::after
{
    bottom: 0%;
    left: 86.8%;
    border-top-right-radius: 0px;
    border-top-left-radius: 100px;
}

.second_secondMain:hover .galleryBack3::after
{
    top: 0%;
    left: 0%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 100px;
}

.second_secondMain:hover .galleryBack4::after
{
    bottom: 0%;
    left: 0%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 100px;
}

.second_secondMain:hover .galleryBack1
{
    top: 50%;
    left: 0%;
    
    border-bottom-left-radius: 100%;
}
.second_secondMain:hover .galleryBack2
{
    top: 0%;
    left: 0%;
    
    border-top-left-radius: 100%;
}
.second_secondMain:hover .galleryBack3
{
    top: 50%;
    left: 50%;
    
    border-bottom-right-radius: 100%;
}
.second_secondMain:hover .galleryBack4
{
    top: 0%;
    left: 50%;
    border-top-right-radius: 100%;
}

.thirdMain
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100vh;
    width: 100%;
}

.firstGrid {
    border: solid 1px black;
    grid-column: 1/4;
    grid-row: 1;
    background-image: url(/img/19.jpg);
    background-size: cover;
    background-position: center;
    
    
}

.secondGrid
{
    border: solid 1px aqua;
    grid-column: 4/5;
    grid-row: 1;
    background-image: url(/img/12.jpg);
    background-size: cover;
}

.thirdGrid
{
    border: solid 1px sandybrown;
    grid-column: 1/2;
    grid-row: 2;
    background-image: url(/img/21.jpg);
    background-size: cover;
    background-position: center;
}

.fourthGrid
{
    border: solid 1px greenyellow;
    grid-column: 2/3;
    grid-row: 2;
    background-image: url(/img/15.jpg);
    background-size: cover;
}

.fifthGrid
{
    border: solid 1px red;
    grid-column: 3/5;
    grid-row: 2;
    background-image: url(/img/20.jpg);
}

/*hover grid*/

.gridRow
{
    grid-row: 1/3;
    z-index: 3;
}

.galleryAnimation
{
    animation: galleryAnimation 15s infinite linear;
    transform: rotate();
}

@keyframes galleryAnimation
{
   0%
   {
    transform: rotate(0deg);
   }
   100%
   {
    transform: rotate(360deg);
   }
}

*
{
    margin: 0;
    padding: 0;
}

.fourthMain
{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #8c1b35;
}



.image
{
    height: auto;
    width: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}

.image[data-status='inactive']
{
    display: none;
    
}

.image[data-status='active']
{
    display: block;
    animation-name: appear;
    animation: 1s;
    
}

@keyframes appear
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}